<h1>welcom to the panel of wilds</h1>
<div class='bigdiv'>
   <div>
        <h2>our list birds</h2>
      <ul>
        
       
        <li (click) ="cardto(0)">{{wildsrv.wilds[0].name}}</li>
        <li (click) ="cardto(1)">{{wildsrv.wilds[1].name}}</li>
        <li (click) ="cardto(2)">{{wildsrv.wilds[2].name}}</li>
        <li (click) ="cardto(3)">{{wildsrv.wilds[3].name}}</li>
        <li (click) ="cardto(4)">{{wildsrv.wilds[4].name}}</li>
        

      </ul>
   </div>
   <div>
       <app-wild-card></app-wild-card>
  </div>
</div>
