     <h1>welcom to the panel of birds</h1>
    
    

<div class="bgdiv">
  
        
            <div>
              <h2>our list birds</h2>
               <ul>
               
                <li (click) ="cardto(0)">{{birdsev.birds[0].name}}</li>
                <li (click) ="cardto(1)">{{birdsev.birds[1].name}}</li>
                <li (click) ="cardto(2)">{{birdsev.birds[2].name}}</li>
                <li (click) ="cardto(3)">{{birdsev.birds[3].name}}</li>
                <li (click) ="cardto(4)">{{birdsev.birds[4].name}}</li>
                <li (click) ="cardto(5)">{{birdsev.birds[5].name}}</li>
                <li (click) ="cardto(6)">{{birdsev.birds[6].name}}</li>
                <li (click) ="cardto(7)">{{birdsev.birds[7].name}}</li>
            </ul>
            </div>
            
            <div>
              
                <app-bird-card></app-bird-card>

            </div>



    
</div>
